---
import { AiOutlineMail } from 'react-icons/ai/index.js'
import { BsLinkedin, BsTelegram } from 'react-icons/bs/index.js'
import BaseHead from '../components/astro/BaseHead.astro'
import Body from '../components/astro/Body.astro'
import Footer from '../components/astro/Footer.astro'
import Header from '../components/astro/Header.astro'
import MainContent from '../components/astro/MainContent.astro'

import {
	LINKEDIN_LINK,
	MAIL_LINK,
	SITE_DESCRIPTION,
	SITE_TITLE,
	TELEGRAM_LINK,
} from '../config'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title='Contacts' description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class='pt-20 leading-10' transition:animate="slide">
			<MainContent classname='flex flex-col'>
				<section class='mt-1'>
					<h2 class='font-bold text-center sm:text-2xl text-xl leading-7'>
						You can always find me at the following addresses:
					</h2>
					<div
						class='font-bold flex flex-wrap flex-col sm:flex-row sm:justify-between items-center gap-4 my-12 px-6'
					>
						<a
							href={TELEGRAM_LINK}
							target='_blank'
							class='block mx-auto my-2 p-2 text-center mb-4 sm:mx-auto'
							aria-label='Link to Telegram'
						>
							<BsTelegram size={60} className='mx-auto mb-3' />
							Telegram
						</a>
						<a
							class='block mx-auto my-2 p-2 text-center mb-4 sm:mx-auto'
							href={MAIL_LINK}
							target='_blank'
							aria-label='Link to email'
						>
							<AiOutlineMail size={60} className='mx-auto mb-3' />
							Email</a
						>
						<a
							href={LINKEDIN_LINK}
							target='_blank'
							class='block p-2 text-center mb-4 sm:basis-full'
							aria-label='Link to Linkedin'
						>
							<BsLinkedin size={60} className='mx-auto mb-3' />
							Linkedin</a
						>
					</div>
				</section>
			</MainContent>
		</main>
		<Footer />
	</Body>
</html>
