---
import { MdMarkEmailRead } from 'react-icons/md/index.js'
import { BsLinkedin,BsTelegram } from 'react-icons/bs/index.js'
import BaseHead from '../components/astro/BaseHead.astro'
import Body from '../components/astro/Body.astro'
import Footer from '../components/astro/Footer.astro'
import Header from '../components/astro/Header.astro'
import MainContent from '../components/astro/MainContent.astro'

import {
	LINKEDIN_LINK,
	MAIL_LINK,
	SITE_DESCRIPTION,
	SITE_TITLE,
	TELEGRAM_LINK,
} from '../config'
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title='Contacts' description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class='pt-20 leading-10' transition:animate="slide">
			<MainContent classname='flex flex-col'>
				<section class='mt-16'>
					<h2 class='font-bold text-center text-xl sm:text-2xl leading-8'>
						You can always find me at the following addresses:
					</h2>
					<div
						class='font-bold grid place-items-center grid-rows-3 gap-4 mt-8 text-xl sm:text-2xl'
					>
						<a
							href={TELEGRAM_LINK}
							target='_blank'
							class="w-52 flex justify-center items-center gap-4 my-4 p-4 text-center hover:scale-125 transition-all hover:bg-indigo-400 hover:rounded-2xl hover:text-gray-100 "
							aria-label='Link to Telegram'
						>
							<BsTelegram size={40}  />
							Telegram
						</a>
						<a
							class="w-52 flex justify-center items-center gap-4 my-4 p-4 text-center hover:scale-125 transition-all hover:bg-indigo-400 hover:rounded-2xl hover:text-gray-100 "
							href={MAIL_LINK}
							target='_blank'
							aria-label='Link to email'
						>
							<MdMarkEmailRead size={40} className='mb-3' />
							<span>Mail Add</span></a
						>
						<a
							href={LINKEDIN_LINK}
							target='_blank'
							class="w-48 flex justify-center items-center gap-4 my-4 p-4 text-center hover:scale-125 transition-all hover:bg-indigo-400 hover:rounded-2xl hover:text-gray-100"
							aria-label='Link to Linkedin'
						>
							<BsLinkedin size={40} />
							Linkedin</a
						>
					</div>
				</section>
			</MainContent>
		</main>
		<Footer />
	</Body>
</html>
