---
import { Image } from 'astro:assets'
import BaseHead from '../components/astro/BaseHead.astro'
import Body from '../components/astro/Body.astro'
import Footer from '../components/astro/Footer.astro'
import Header from '../components/astro/Header.astro'
import MainContent from '../components/astro/MainContent.astro'
import Skills from '../components/tsx/Skills'
import { slide } from 'astro:transitions';


import { SITE_DESCRIPTION, SITE_TITLE } from '../config'

const projects = (await Astro.glob('./projects/*.md')).sort(
	(a: any, b: any) =>
		new Date(b.frontmatter.createdAt).valueOf() -
		new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title='Main Page' description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class='pt-20 font-heebo' transition:animate={slide({ duration: '0.4s' })}>
			<MainContent>
				<section>
					<div
						class='text-center block sm:flex sm:justify-between items-center mb-10'
					>
						<h1 class='text-5xl my-10'>
							Mikhail <span class='block mt-8'>Rutsky</span>
						</h1>
						<p class='text-xl my-10'>
							Frontend-developer <br />
							{new Date().getFullYear() - 1999} years old, Minsk
						</p>
					</div>
					<a
						transition-name="about"
						class='max-w-max mx-auto p-4 rounded-xl text-center block indent-1 text-white mb-y text-base bg-indigo-500 hover:scale-110 transition-all'
						href='/about'>Learn more about me</a
					>
				</section>
				<section class='my-12'>
					<p class='text-3xl mb-8 text-center'>What i use</p>
					<div class='my-10'>
						<Skills />
					</div>
				</section>
				<section >
					<p class='text-3xl mt-10 text-center'>My Projects</p>
					<ul class='flex flex-col gap-5 md:gap-10 mt-10'>
						{
							projects.map(project => (
								<li class='text-center my-4'>
									<a href={project.url} aria-hidden="true" tabindex="-1">
									<Image
										src={project.frontmatter.heroImage}
										class='border border-slate-300 dark:border-neutral-700 rounded-xl'
										width={1440}
										height={'100%'}
										aspectRatio={2.0}
										alt='project image'
										transition-name={`image-${project.frontmatter.title}`}
										
									/>
									</a>
									<a href={project.url}>
										<div class="p-4 relative mt-3 text-lg sm:text-xl after:content-[''] after:block after:absolute after:h-1 after:bg-indigo-500  after:bottom-0 after:right-1 after:-z-10 after:left-1 after:w-full after:sm:w-1/2 after:mx-auto after:rounded-xl hover:after:h-full hover:after:right-0 hover:after:left-0 hover:text-gray-50 transition-all duration-300 after:transition-all after:duration-300">
											{project.frontmatter.title}
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</MainContent>
			<MainContent />
		</main>
		<Footer />
	</Body>
</html>
