---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from "../config";
import ThemeToggle from "../components/ThemeToggleButton";
import MainContent from "../components/MainContent.astro";
import Project from "../components/Project.astro";
import { Image } from "@astrojs/image/components";
import Skills from "../components/Skills";

const projects = (await Astro.glob("./projects/*.md")).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-20 font-heebo">
      <MainContent>
        <section>
          <div
            class="text-center block sm:flex sm:justify-between items-center mb-10"
          >
            <h1 class="text-5xl mb-3">Mikhail <br /> Rutsky</h1>
            <p class="text-xl">
              Frontend-developer <br />
              {new Date().getFullYear() - 2000} years old, Minsk
            </p>
          </div>
          <a
            class="w-full text-center block indent-1 text-indigo-500 dark:text-pink-400 mb-8"
            href="/about">Learn More about me</a
          >
        </section>
        <section class="mb-8">
          <p class="text-3xl mb-8 text-center">What i use</p>
          <Skills />
        </section>
        <section>
          <p class="text-3xl mb-8 text-center">My Projects</p>
          <ul class="flex flex-col gap-5 md:gap-10">
            {
              projects.map((project) => (
                <li class="text-center">
                  <Image
                    src={project.frontmatter.heroImage}
                    class="border border-slate-300 dark:border-neutral-700 rounded-xl"
                    width={1440}
                    aspectRatio={2.0}
                    alt="project image"
                  />
                  <a href={project.url}>
                    <div class="p-4 relative mt-3 text-lg sm:text-xl after:content-[''] after:block after:absolute after:h-1 after:bg-indigo-500 after:dark:bg-pink-500 after:bottom-0 after:right-4 after:-z-10 after:left-4 after:w-1/2 after:mx-auto after:rounded-xl hover:after:h-full hover:after:right-0 hover:after:left-0 hover:text-gray-50 transition-all duration-300 after:transition-all after:duration-300">
                      {project.frontmatter.title} -{" "}
                      {project.frontmatter.description}
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </MainContent>
      <MainContent />
    </main>
    <Footer />
    <ThemeToggle client:load />
  </Body>
</html>
