---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import ThemeToggle from '../components/ThemeToggleButton'
import MainContent from '../components/MainContent.astro'
import Project from '../components/Project.astro'
import {Image} from "@astrojs/image/components"

const projects = (await Astro.glob("./projects/*.md")).sort((a:any,b:any)=>
  new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-20">
      <h1 class="font-heebo text-center">Mikhail Rutsky</h1>
      <MainContent>
        <section>
          <p class="mb-8 indent-4"> 
          Hi, I&apos;m Mikhail - Frontend-developer from Minsk. As a developer, I&apos;m always interested in learning new technologies and applying them in action. I invite you to see my projects, hope you will like them      
  <a class='inline-flex items-center gap-1 indent-1 text-pink-400' href={HOMEPAGE_URL} >Learn More about me</a>            
</p>
        </section>
        <section>
          <section>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              {projects.map(project => (
                <li class="text-center mb-4">
                  <Image src={project.frontmatter.heroImage} class='border border-slate-300 dark:border-zinc-700 rounded-xl' width={1440} aspectRatio={2.0} alt="project image"/>
                  <a href={project.url}>
                    <div class="mt-3 text-xl">
                      {project.frontmatter.title}
                    </div>
                    <div class="opacity-70">{project.frontmatter.description}</div>
                  </a>
                </li>
              ))}
            </ul>
          </section>
        </section>
      <MainContent/>
    </main>
    <Footer />
     <ThemeToggle client:load/>
  </Body>
</html>
